.ipynb_checkpoints

/cache

/legend-julia-software-tutorial.ipynb
/legend-julia-software-tutorial.jl

/artifacts
/clones
/compiled
/conda
/environments
/logs
/packages
/registries
/prefs

*.dll
*.so
*.so.*
*.dylib
